.sideways-div {
    position: absolute;
    height: 100%;
    width: 100%;
}

.sideways-div h2 {
    transform: rotate(-90deg);
    white-space: nowrap;
    position: absolute;
    font-size: 8.33vw;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .sideways-div h2 {
        transform: rotate(-90deg);
        white-space: nowrap;
        position: absolute;
        font-size: 8.33vw;
        left: -16vw !important;
    }
}