.sideways-div {
    position: absolute;
    height: 100%;
    width: 100%;
}

.sideways-div h2 {
    transform: rotate(-90deg);
    white-space: nowrap;
    position: absolute;
    font-size: 8.33vw;
}