.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-inverse {
    background-color: #73D1B8;
    border-color: #7BE0AD;
    font-family: 'Amatic SC', "cursive";
}

li {
    list-style-type: none;
}

#app-name-logo {
    color: #ffffff;
    font-size: 50px;
}

#app-name-logo:hover,
#app-name-logo:focus {
    text-decoration: none;
}

.nav-link {
    color: #222;
    width: 100%;
}

.nav-link:hover {
    background-color: #73D1B8;
    color: #fff;
    text-decoration: none;
}

.caret {
    display: none;
}

.dropdown {
    display: inline;
}

.dropdown-menu {
    font-size: 30px;
}

.dropdown-menu>li>a:hover {
    background-color: #73D1B8;
    color: #fff;
}

.nav-link-container:hover>a>.nav-link {
    background-color: #73D1B8;
    color: #fff;
}
