.container-fluid .jumbotron {
    padding: 0;
}

.jumbotron {
    margin-top: 15px;
    position: relative;
    padding: 0;
}

.jumbotron h1 {
    font-family: 'Vollkorn', serif;
    font-size: 40px;
    padding: 10px;
    margin: 0;
}