.form-group {
    margin-top: 15px;
}

#new-note-btn {
    margin-top: 30px;
    margin-right: 15px;
}

#search-bar-input {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
}

#inspiration-input {
    margin-top: 30px;
    margin-bottom: 15px;
}

#inspiration-button {
    margin-top: 15px;
}