#freewrite-title-col {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#write-inspiration-input {
    margin-top: 30px;
}

#write-inspiration-btn {
    margin-top: 15px;
}

#journal-link>a {
    color: #23395B;
}

#journal-link>a:hover {
    color: #73D1B8;
    text-decoration: none;
}

#inspiration-input-div,
#thoughts-input-div,
#word-count-submit-div {
    margin-left: 15px;
    margin-right: 15px;
}

#write-title {
    left: -13vw;
}